#navbar{
    border-bottom: 2px solid #C2D2EB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    padding: 20px 0;
    transition: 0.7s;
}
#navbar.fixed{
    background-color: #c1c1c2;
    padding: 10px 0;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 48px;
    width: 102px;
    overflow: hidden;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav_btn{
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 8px;
    background-color: #0052CC;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
}
.nav_btn:hover{
    background-color: #FFFFFF;
    color: #0052CC;
    box-shadow: 3px 3px 1px 1px #0052CC;
}
.nav_btn:last-child{
    margin-left: 16px;
}

@media screen and (max-width: 576px) {
    
}